.header-container {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
}

.header-logo {
  color: white;
  font-weight: 400;
}

/* .theme-container { 
  display: flex;
  align-items: center;
  flex-direction: row;
} */